

.App {
  text-align: center;
  min-height: 100vh;
}

.navbar {
  color: linear-gradient(#946f3c, #dece8c);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.offcanvas {
  background-color: linear-gradient(#0b0b0b, #3d3d3d);
}



.App-link {
  color: #61dafb;
  
}




/* @media (max-width:) {
.offcanvas {
  background-color: linear-gradient(#0b0b0b, #3d3d3d);
}

.banner {
  background-color: linear-gradient(#946f3c, #dece8c);
}

.App {
  background-color: linear-gradient(#946f3c, #dece8c);
  min-height: 100vh;
}

.navbar {
  color: linear-gradient(#946f3c, #dece8c);
}

} */