
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

.username {
    color: #dece8c;
}

.btn-group-vertical a, .btn-group-vertical button {
    width: 100%;
    color: black;
    font-family: 'Lato', sans-serif;
    
}

.menu-bars.active {
    color: black;
    font-size: x-large;
    width: 5%;
}

/* .offcanvas-header {
    : #dece8c;
} */

.btn-group-vertical a, .btn-group-vertical button, .btn-primary {
    background-image: linear-gradient(#946f3c, #dece8c);
    border-color: black;
    border-radius: 4%; 
}

.btn-group-vertical a, .btn-group-vertical button:hover, .btn-primary {
    background-color: black;
    color: white;
    border-color: #946f3c;
}

.fcbar {
    display: flex;
    max-width: 100%;
    position: center;
}
.banner {
    background-image: linear-gradient(#946f3c, #dece8c);

}

.offcanvas-body {
    background-color: linear-gradient(#0b0b0b, #3d3d3d);
    text-align: center;
    
}

.offcanvas.offcanvas-start {
    background: linear-gradient(#0b0b0b, #3d3d3d);
}

.navbar {
    background-image: url("../components/Images/FCbar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }